In [1]:
from sqlalchemy import create_engine, text


def run_sql(query: str):
    engine = create_engine("sqlite:///../database.db")
    with engine.connect() as conn:
        return conn.execute(text(query)).fetchall()

In [2]:
run_sql("SELECT * FROM currencies;")

[(1, 'Tether', 'USDT', '₮', 0, '2025-03-21 17:54:40', None),
 (2, 'US Dollar', 'USD', '$', 1, '2025-03-21 17:54:40', None),
 (3, 'Iran Rial', 'IRR', 'rial', 1, '2025-03-21 17:54:40', None),
 (4, 'Iran Toman', 'IRT', 'toman', 1, '2025-03-21 17:54:40', None),
 (5, 'Gold (1g)', 'XAUg', 'Au', 0, '2025-03-21 17:54:40', None),
 (6, 'Euro', 'EUR', '€', 1, '2025-03-21 17:54:40', None),
 (7, 'Tether', 'USDT', '₮', 0, '2025-03-21 17:54:40', None),
 (8, 'Bitcoin', 'BTC', '₿', 0, '2025-03-21 17:54:40', None),
 (9, 'Ethereum', 'ETH', 'Ξ', 0, '2025-03-21 17:54:40', None)]

In [3]:
run_sql("PRAGMA table_info(exchange_rates);")

[(0, 'id', 'INTEGER', 1, None, 1),
 (1, 'rate', 'FLOAT', 1, None, 0),
 (2, 'effective_date', 'DATETIME', 0, 'CURRENT_TIMESTAMP', 0),
 (3, 'created_at', 'DATETIME', 0, 'CURRENT_TIMESTAMP', 0),
 (4, 'updated_at', 'DATETIME', 0, None, 0),
 (5, 'source_currency_id', 'INTEGER', 0, None, 0),
 (6, 'target_currency_id', 'INTEGER', 0, None, 0)]

In [4]:
run_sql("SELECT * FROM exchange_rates;")

[(1, 84000.0, '2025-03-21 21:24:00.000000', '2025-03-21 17:54:51', None, 8, 1),
 (2, 7869000034.0, '2025-03-21 21:24:00.000000', '2025-03-21 17:54:51', None, 8, 4),
 (3, 1969.01, '2025-03-21 21:24:00.000000', '2025-03-21 17:54:51', None, 9, 1),
 (4, 184440330.0, '2025-03-21 21:24:00.000000', '2025-03-21 17:54:51', None, 9, 4),
 (5, 93735.0, '2025-03-21 21:24:00.000000', '2025-03-21 17:54:52', None, 1, 4)]